.FullBanner {
  background-color: #ccc;
  color: #777;
  display: flex;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

.FullBannerTitle {
  margin: 0;
  font-size: 4rem;
  font-weight: normal;
  border: 1px solid rgba(0, 0, 0, .2);
  border-width: 1px 0;
}
